.slide-container .slide-imgs {
  position: relative;
}
.slide-box .slide-imgs .slide-item {
  opacity: 0;
  /* 要素の透明度を指定する */
  position: absolute;
  /* 絶対位置への配置 */
  top: 10;
  left: 0;
  transition: 3s;
  /*  CSSプロパティが変化する際のアニメーションの速度を操作する手段を提供 */
}
.slide-box .slide-imgs .slide-item.active {
  opacity: 1;
}
img{
  width: 1500px;
  height: 500px;
}
h1{
  text-align: center;
  background-color: lightgreen;
}
